* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .sec{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
.sec .t1 h2{
    font-weight: 150;
    font-size: 35px;
}
.t2{
    position: relative;
}
.t2 h2{
    position: absolute;
    font-weight: 150;
    font-size: 25px;
    left:220px;
    bottom: 50px;
}

  .slider-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .slider-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 20px;
  }
  
  .counter span {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .slider-container {
      max-width: 100%;
    }
    .sec .t1 h2{
        margin-bottom: 20px;
    }
    .ma .slider-container{
        width: 350px;
    }
    .t2 h2{
        margin-top: 50px;
        left: 10%;
        top: 50%;
    }
  }
  