@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('./assets/fonts/BMWTypeNextLatin/BMWTypeNextLatin-Regular.woff2') format('woff2'),
       url('./assets/fonts/BMWTypeNextLatin/BMWTypeNextLatin-Regular.woff') format('woff'),
       url('./assets/fonts/BMWTypeNextLatin/BMWTypeNextLatin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('./assets/fonts/BMWTypeNextLatin/BMWTypeNextLatin-Bold.woff2') format('woff2'),
       url('./assets/fonts/BMWTypeNextLatin/BMWTypeNextLatin-Bold.woff') format('woff'),
       url('./assets/fonts/BMWTypeNextLatin/BMWTypeNextLatin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'BMWTypeNextLatin-Regular', sans-serif;}